@import '../config';


section.elements-panel {
    div.entry-wrap {
        @include Flex(none, fs);
        
        div.switch-element {
            margin-left: 1em;
            display: flex;
            user-select: none;
            
            span {
                cursor: pointer;
                font-size: 1.2rem;
                display: block;
                margin-right: .25em;
            }
        }
    }

    div.wrap {
        margin: .5em 0 2em 0;
        position: relative;

        span.element-arrow {
            position: absolute;
            cursor: pointer;
            top: 50%;
            @include FullSize(25px);

            svg {
                @include FullSize;
            }

            &:first-of-type {
                left: 0;
                translate: -130% -50%;
            }

            &:last-of-type {
                right: 0;
                translate: 130% -50%;
            }

            @media (max-width: 480px) {
                top: 0;
                
                &:first-of-type {
                    right: 0;
                    left: auto;
                    translate: -120% -150%;
                }

                &:last-of-type {
                    translate: 0 -150%;
                }
            }
        }

        div.overflow {
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;

            div {
                @include Flex(none, c);
                background: $clr-blackl;
                padding: .75em;
                border-radius: .5em;
                margin-right: .5em;
                cursor: pointer;
                flex-shrink: 0;
                border-bottom: 2px solid transparent;

                &.toggled{
                    border-color: royalblue;
                }
 
                p {
                    font-size: .85rem;
                    font-weight: 500;
                    pointer-events: none;
                }
    
                span {
                    @include FullSize(20px);
                    margin-left: .5em;
                    transition: .25s;
                    color: $clr-whitel;
    
                    svg {
                        @include FullSize;
                        pointer-events: none;
                    }
    
                    &:hover {
                        color: $clr-redl;
                    }
                }
            }
        }
    }
}