@import '../config';


section.output-panel {
    div.container {
        @include Flex(sb, c);
        margin-top: .25em;
        background: $clr-blackl;
        padding: 1em;
        word-break: break-all;

        div {
            display: flex;
            margin-left: 1em;

            span {
                @include FullSize(30px);
                cursor: pointer;
                position: relative;
    
                i {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    translate: -50% -150%;
                    white-space: nowrap;
                    font-weight: 800;
                }
    
                svg {
                    @include FullSize;
                    transition: .2s;
                }
            }
        }

        p.out {
            font-size: .9rem;    
            color: $clr-whited;
            font-weight: 500;
            font-family: 'Roboto Mono';
        }
    }
}