@import '../config';

section.preview-panel {
    padding: 1em;
    margin-top: 2em;

    div.preview {
        background: $clr-blackl;
        padding: 1em;
        min-height: 60px;

        p.out {
            span {
                font-size: inherit;
            }
        }
    }
}