@import '../config';


main.shellpage {
    padding: 3em 3em 0 3em;

    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1em;
    }

    div.main-wrap {
        @include Flex(sb);

        p.title {
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 800;
            margin-bottom: 1em;
        }

        p.out {
            font-size: .9rem;    
            color: $clr-whited;
            font-weight: 500;
            font-family: 'Roboto Mono';
        }

        section.elem-wrap {
            width: 55%;

            section.options-panel,
            section.elements-panel,
            section.output-panel {
                width: 100%;
                padding: 1em;
            }
        }
    }

    @media (max-width: 1000px) {
        padding: 3em 2em 0 2em;

        div.main-wrap {
            flex-direction: column-reverse;

            section.elem-wrap {
                width: 100%;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 3em .5em 0 .5em;

        div.main-wrap {
            section.elem-wrap {
                section.options-panel,
                section.elements-panel,
                section.output-panel,
                section.preview-panel {
                    padding: 0em;
                }
            }
        }
    }
}