@import '../config';


header.home-header {
    @include Flex(sa, c);
    padding: 4em;
    height: calc(100vh - $navHeight);

    section.image-container {
        width: 40%;
        margin-right: 4em;

        div.ln {
            width: 50%;
            height: 2px;
            background: $clr-bluel;
            margin: 0 auto 4em auto;
        }

        section.shell-example {
            margin: 3em 0;

            div {
                @include Flex(none, c);
                
                p {
                    &.ps1 {
                        white-space: nowrap;
                        margin-right: 1em;
                        font-weight: 800;
                    }

                    &:not(.ps1) {
                        font-size: .9rem;
                        font-family: 'Roboto Mono';
                    }
                }
            }

            figure {
                margin-top: .25em;
            }
        }
    }

    article {
        width: 40%;

        section {
            &.select-section {
                @include Flex(sb, c);
                margin-top: 4em;

                div {
                    @include Flex(none, c);
                    cursor: pointer;                    
                    padding: .75em 1em;
                    position: relative;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        transition: .25s;
                        background: $clr-bluel;
                    }

                    &::before {
                        left: 0;
                        bottom: 0;
                        height: 0;
                        width: 3px;
                    }

                    &::after {
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 100%;
                    }

                    p {
                        margin-left: .75em;
                        font-family: 'Roboto Mono';
                        font-size: 1.25rem;
                        letter-spacing: -1px;
                    }

                    span {
                        @include FullSize(60px);

                        svg {
                            @include FullSize;
                        }
                    }

                    &:hover {
                        &::before { height: 100%; }

                        &::after { width: 0; }
                    }
                }
            }

            &.text-section {
                h1 {
                    font-size: 3.5rem;
                    font-weight: 800;
                    margin-bottom: .5em;
                }

                p {
                    font-family: 'Roboto Mono';
                    color: $clr-whited;
                }
            }
        }
    }
}