@import './config';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

body {
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Roboto Mono';
        src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
    }

    figure.bg-img {
        position: absolute;
        left: 0;
        top: 0;
        @include FullSize;
        pointer-events: none;
        z-index: -1;
        opacity: .06;

        img {
            @include FullSize;
            object-fit: cover;
        }
    }

    background: #303030;
    color: $clr-whitelr;
    font-family: 'Montserrat';
    min-height: 100vh;
    width: 100vw;
}